<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="assets/styles/main.css">
        <script src="/node_modules/angular/angular.js"></script>
        <script src="app/modules.js"></script>
        <script src="app/controllers/main.js"></script>
        <script src="app/controllers/bicycle.js"></script>
        <script src="app/services/common.js"></script>
        <script src="app/services/bicycle.js"></script>
    </head>

    <body ng-controller="Main">
        <div class="container" ng-cloak ng-controller="Bicycle">
            <div class="content">
                <form name="BicycleQuoteForm" method="post" novalidate ng-submit="BicycleQuoteForm.$valid && ValidateForm(BicycleQuoteForm) && SendForm()">
                    <div class="">
                        <label>How long do you need cover for:</label>
                        <div class="" ng-repeat="LengthOfCover in LengthOfCoverOptions">
                            <input class="" type="radio" id="radio-lengthofcover-{{LengthOfCover.id}}" value="{{LengthOfCover.id}}" ng-model="Basket.BicycleQuotes[0].LengthOfCover" />
                            <label class="" for="radio-lengthofcover-{{LengthOfCover.id}}">{{LengthOfCover.value}}</label>
                        </div>
                    </div>
                        
                    <div class="">
                        <!--BICYLE SECTION START-->
                        <label>Bicycles:</label>
                        <p ng-show="Basket.BicycleQuotes[0].Bicycles.length > 0">You currently have <strong>{{Basket.BicycleQuotes[0].Bicycles.length}} {{BicycleText}}</strong>, with a combined value of <strong>£{{TotalBicycleValue}}</strong> on the current quote.</p>
                        
                        <ul class="">
                            <li class="" ng-repeat="Bicycle in Basket.BicycleQuotes[0].Bicycles">
                                <strong>{{Bicycle.MakeModel | uppercase}}</strong><br/>
                                <small>{{Bicycle.TypeName}}</small><br/>
                                <small>&pound;{{Bicycle.Value}}</small></br>
                                <a class="remove-link" ng-show="Basket.BicycleQuotes[0].Bicycles.length > 1" ng-click="RemoveBicycle($index)">remove</a>
                            </li>
                        </ul>
                        
                        <div class="" ng-show="ShowAddBicycle">
                            <input class="" type="text" ng-model="Bicycle.MakeModel" placeholder="Model" />
                            <input class="" type="text" placeholder="Value" ng-model="Bicycle.Value">
                            <select class="" ng-model="Bicycle.Type" ng-options="option.id as option.value for option in BicycleTypeOptions">
                                <option value="">Type of Bicycle</option>
                            </select>
                            <button class="" type="button" ng-click="AddBicycle()" ng-disabled="IsAddToQuoteDisabled">Add to Quote</button>
                        </div>
                        <!--BICYLE SECTION END-->
                    </div>                   

                    <div class="">
                        <label>Enter the value of any accessories you wish to insure:</label>
                        <input class="" type="text" ng-model="Basket.BicycleQuotes[0].AccessoriesValue" ng-blur="AccessoriesValueBlur()" placeholder="250 as standard" />
                    </div>

                    <div class="">
                        <label>Enter the value of any additional wheelsets you wish to insure:</label>
                        <input class="" type="text" ng-model="Basket.BicycleQuotes[0].WheelsetValue" ng-blur="WheelsetValueBlur()" />
                    </div>

                    <div class="">
                        <label>Value of helmets, clothing and wetsuits:</label>
                        <div class="" ng-repeat="HelmetAndClothingValue in HelmetAndClothingValueOptions">
                            <input class="" type="radio" id="radio-helmetandclothingvalue-{{HelmetAndClothingValue.id}}" value="{{HelmetAndClothingValue.value}}" ng-model="Basket.BicycleQuotes[0].HelmetAndClothingValue" />
                            <label class="" for="radio-helmetandclothingvalue-{{HelmetAndClothingValue.id}}">{{HelmetAndClothingValue.value}}</label>
                        </div>
                    </div>

                    <div class="">
                        <label>Select your level of cover:</label>
                        <div>
                            <div class="" ng-repeat="TypeOfCover in TypeOfCoverValueOptions">
                                <input class="" type="radio" id="radio-typeofcover-{{TypeOfCover.id}}" value="{{TypeOfCover.id}}" ng-model="Basket.BicycleQuotes[0].TypeOfCover" />
                                <label class="" for="radio-typeofcover-{{TypeOfCover.id}}">{{TypeOfCover.value}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <label>How many bicycle claims in the last 3 years:</label>
                        <div>
                            <div class="" ng-repeat="Claim in ClaimOptions">
                                <input class="" type="radio" id="radio-claims-{{Claim.id}}" value="{{Claim.id}}" ng-model="Basket.BicycleQuotes[0].NumberOfClaimsInLastThreeYears" />
                                <label class="" for="radio-claims-{{Claim.id}}">{{Claim.value}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <label>Select Cover Start Date:</label>
                        <select class="" ng-model="Basket.BicycleQuotes[0].CoverStartDate" ng-change="ChangeCoverStartDate()" ng-options="option.Id as option.Name for option in CoverStartDateOptions" required>
                            <option value="">Choose a date</option>
                        </select>
                    </div>

                    <div class="">
                        <label>Enter your date of birth:</label>
                        <div class="">
                            <div class="">
                                <select class="" ng-model="DateOfBirthDay" ng-disabled="!Basket.BicycleQuotes[0].CoverStartDate" ng-change="CheckDateOfBirth()" integer>
                                    <option value="">Day</option>
                                    <option ng:repeat="day in DayOptions" value="{{day.id}}" >{{day.name}}</option>
                                </select>
                            </div>
                            <div class="">
                                <select class="" ng-model="DateOfBirthMonth" ng-disabled="!Basket.BicycleQuotes[0].CoverStartDate" ng-change="CheckDateOfBirth()" integer>
                                    <option value="">Month</option>
                                    <option ng:repeat="month in MonthOptions" value="{{month.id}}" >{{month.name}}</option>
                                </select>
                            </div>
                            <div class="">
                                <select class="" ng-model="DateOfBirthYear" ng-disabled="!Basket.BicycleQuotes[0].CoverStartDate" ng-change="CheckDateOfBirth()" integer>
                                    <option value="">Year</option>
                                    <option ng:repeat="year in DateOfBirthYearOptions" value="{{year.id}}" >{{year.name}}</option>
                                </select>
                            </div>
                            <div>
                                <label>{{ Basket.BicycleQuotes[0].DateOfBirth }}</lable><br/>
                                <label>{{ DateOfBirth1 }}</label><br/>
                                <label>{{ DateOfBirth2 }}</label><br/>
                            </div>
                            <div class="">
                                <label>Age:</label>
                                <label>{{Basket.BicycleQuotes[0].Age}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <label>Please confirm the following statements:</label>
                        <div>
                            <ul>
                                <li><p>I am a resident in the UK.</p></li>
                                <li><p>I have never been convicted of a criminal offence.</p></li>
                                <li><p>I have never had a policy cancelled, voided or renewal refused.</p></li>
                            </ul>
                            <div>
                                <input id="agreeToStatments" type="checkbox" ng-model="Basket.BicycleQuotes[0].Statments" ng-true-value="true" ng-false-value="false" ng-required="StatementRequired" />
                                <label for="agreeToStatments">I agree to the above statements.</label>
                            </div>
                        </div>
                    </div>

                    <div ng-if="Basket.BicycleQuotes[0].Statments">
                        <p style="color: #00CC00;">You have agreed to the statements above</p>
                    </div>
                </form>
                <div class="debugging-container" ng-show="debugging">
                    <dir class="debugging-content">
                        <pre>BASKET >> {{Basket | json}}</pre>
                    </dir>
                </div>
            </div>
        </div>
    </body>
</html>
